.wrapper {
    display: grid;
    grid-template-areas: ". h h ." "m m m m" ". e e e" "a t t t" "a c c c";
    grid-gap: 5px;
    grid-template-columns: 200px 1fr 1fr 1fr;
}
header {
    grid-area: h;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}