

.monster-types {
    grid-area: t;
}


.monster-selectors {
    grid-area: a;
    width: 150px;
    max-width: 150px;
}

.monster-img {
    width: 350px;
    height: auto;
}

.monster-img-selected {
    opacity: 0.3;
}

.monster-type-img {
    margin-right: 5px;
    width: 75px;
    height: 75px;
}

.monster-type-img-selected {
    background: rgb(68, 126, 141);
    border-radius: 50%;
}

.hidden {
    display: none;
}